
@{
    ViewBag.Title = "About";
}

<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>

</header>

<div>
    <div style="background-image:url('../../Assert/Images/build/banner.jpg'); height: 520px; background-position: center; background-repeat: no-repeat;">
    <div class="am-container am-slider-desc">
        <div class="am-slider-content">
        </div>
    </div>
</div>
</div>
<div class="m-cusnav ">
    <div class="am-container m-cusnav-div m-home-box">
        <ul>
            <li>
                <a href="/Home/Index">首&nbsp;&nbsp;页</a>
            </li>
            <li>

                <a href="/Home/Medical">医疗器械资质</a>
            </li>
            <li>
                <a href="/Home/FoodStuff">食品经营资质</a>
            </li>
            <li>
                <a href="/Home/NetCulture">网络文化经营许可证</a>
            </li>
            <li>
                <a href="/Home/Financing">融资租赁资质</a>
            </li>
            <li >
                <a href="/Home/Build">建筑施工资质</a>
            </li>
            <li class="select">
                <a href="/Home/About">关于我们</a>
            </li>
        </ul>
    </div>

</div>