@{
    ViewBag.Title = "Home Page";
}


<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>
        
</header>

<div >
        <div  style="background-image: url('../../Assert/Images/build/banner.jpg'); height: 520px; background-position: center; background-repeat: no-repeat;">
            <div class="am-container am-slider-desc">
                <div class="am-slider-content">
                      </div>
            </div>
        </div>
</div>
    <div class="m-cusnav ">
        <div class="am-container m-cusnav-div m-home-box">
            <ul>
                <li>
                    <a href="/Home/Index">首&nbsp;&nbsp;页</a>
                </li>
                <li>

                    <a href="/Home/Medical">医疗器械资质</a>
                </li>
                <li>
                    <a href="/Home/FoodStuff">食品经营资质</a>
                </li>
                <li>
                    <a href="/Home/NetCulture">网络文化经营许可证</a>
                </li>
                <li>
                    <a href="/Home/Financing">融资租赁资质</a>
                </li>
                <li class="select">
                    <a href="/Home/Build">建筑施工资质</a>
                </li>
                <li>
                    <a href="javascript:void(0);">关于我们</a>
                </li>
            </ul>
        </div>

</div>
<!--公司注册范围-->
<section style="text-align:center;" class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>业务范围</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-md-5 bulid-range">
            <li>
                <div class="bulid-range-back bulid-range-green">
                    <div>
                        <h1>建筑工程施工包承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_5.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-yellow">
                    <div>
                        <h1>机电工程施工总承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_5.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-blue">
                    <div>
                        <h1>市政公用工程施工总承包</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_5.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-green">
                    <div>
                        <h1>装修装饰工程专业承包资质 </h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_4.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-puple">
                    <div>
                        <h1>机电安装工程专业承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_5.png" width="100%" />
                    </div>
                </div>
            </li>
            
        </ul>
        <ul class="am-avg-md-5 bulid-range" style="margin-top:20px;">
            <li>
                <div class="bulid-range-back bulid-range-puple">
                    <div>
                        <h1>建筑幕墙工程专业承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_4.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-green">
                    <div>
                        <h1>防水防腐工程专业承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_4.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-puple">
                    <div>
                        <h1>钢结构工程专业承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_4.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-yellow">
                    <div>
                        <h1>电子与智能化工程专业承包资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_5.png" width="100%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="bulid-range-back bulid-range-blue" >
                    <div>
                        <h1>施工劳务资质资质</h1>
                    </div>
                    <hr style="background-image: url('../../Assert/Images/build/dashed.png');background-repeat:repeat-x;height:2px;border:none;" />
                    <h2>市场需求度</h2>
                    <div class="build-stars">
                        <img src="~/Assert/Images/build/star_5.png" width="100%" />
                    </div>
                </div>
            </li>
        </ul>
        
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">我要询价</button>
        </div>
    </div>
</section>

<div>
    <div style="  background-image: url('../../Assert/Images/build/banner_1.jpg'); height: 300px; background-position: center; background-repeat: no-repeat;">
       
    </div>
</div>

<!--注册公司要准备这些-->
<div class="m-medical-need m-home-box" style="text-align:center;">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>办理建筑类资质流程</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <img src="~/Assert/Images/build/流程图.png" />
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">查看材料</button>
        </div>
    </div>
</div>



<section class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>办理建筑施工资质需注意7点</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>

        <div class="am-g " >
            <div class="am-u-md-8">
                <img src="~/Assert/Images/build/banner_2.jpg"  width="100%"/>
            </div>
            <div class="am-u-md-4 build-notice" >
               <div>
                   <img src="~/Assert/Images/build/01.png" />
                   <span>企业人员有哪些</span>
               </div>
                <div>
                    <img src="~/Assert/Images/build/02.png" />
                    <span>人员有无年龄限制</span>
                </div>
                <div>
                    <img src="~/Assert/Images/build/03.png" />
                    <span>相关专业按什么考核</span>
                </div>
                <div>
                    <img src="~/Assert/Images/build/04.png" />
                    <span>结构专业包括哪些</span>
                </div>
                <div>
                    <img src="~/Assert/Images/build/05.png" />
                    <span>个人业绩是怎么回事</span>
                </div>
                <div>
                    <img src="~/Assert/Images/build/06.png" />
                    <span>关于社保证明</span>
                </div>
                <div>
                    <img src="~/Assert/Images/build/07.png" />
                    <span>对职称证书的要求</span>
                </div>
            </div>
            
        </div>
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">详细咨询</button>
        </div>
    </div>

</section>

<section class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>电子与智能化工程资质</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>

        <div class="am-g">
            <div class="am-u-md-6 build-elec" style=" background-image: url('../../Assert/Images/build/bkg_green.png'); background-repeat:no-repeat;height:300px;">
               
               <div>
                    <h1>一级资质</h1>
               </div>
                <div class="am-g elec-text">
                    <div class="am-u-md-4" style=" padding-left: 31px;">
                        <img src="~/Assert/Images/build/注册资金.png" />
                        <span>注册资金：</span>
                    </div>
                    <div class="am-u-md-8" style=" padding-right: 31px;">
                        <span>企业资产净资产2000 万元以上</span>
                    </div>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-md-4" style=" padding-left: 31px;">
                        <img src="~/Assert/Images/build/业务范围.png" />
                        <span>业务范围：</span>
                    </div>
                    <div class="am-u-md-8" style=" padding-right: 31px;">
                        <span>可承担各类型电子工程、建筑智能化工程施工</span>
                    </div>
                </div>
                <div class="process-btn-div">
                    <button type="button" class="am-btn m-btn-style food-btn-trance" style="background:#00C59F">在线咨询</button>
                </div>
            </div>
            <div class="am-u-md-6 build-elec" style="background-image: url('../../Assert/Images/build/bkg_blue.png');background-repeat:no-repeat;height:300px;">
                <div>
                    <h1>二级资质</h1>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-md-4" style=" padding-left: 31px;">
                        <img src="~/Assert/Images/build/注册资金.png" />
                        <span>注册资金：</span>
                    </div>
                    <div class="am-u-md-8" style=" padding-right: 31px;">
                        <span>企业资产净资产800 万元以上</span>
                    </div>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-md-4" style=" padding-left: 31px;">
                        <img src="~/Assert/Images/build/业务范围.png" />
                        <span>业务范围：</span>
                    </div>
                    <div class="am-u-md-8" style=" padding-right: 31px;">
                        <span>可承担一定合同额以下的电子系统工程和建筑智能化工程施工</span>
                    </div>
                </div>
                <div class="process-btn-div">
                    <button type="button" class="am-btn m-btn-style food-btn-trance" style="background:#027ADE">在线咨询</button>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>建筑工程施工总包资质</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
</section>
<div>
    <div style="background-image: url('../../Assert/Images/build/banner_3.jpg');  height: 380px; background-position: center; background-repeat: no-repeat;">

        <div class="process-btn-div" style="padding-top:300px;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">在线咨询</button>
        </div>
    </div>
</div>


<footer class="m-footer">
    <div class="m-footer-bottom">
        <div class="am-container">
            <div class="am-g">
                <span class="m-u-sm-12 am-u-md-9 am-u-lg-10">
                    Copyright  2010 - 2015 www.imj2.com. All Rights Reserved <a href="http://www.miitbeian.gov.cn/" rel="external nofollow">粤ICP备11092500号-1</a>
                   
                </span>
                
            </div>
        </div>
    </div>
</footer>

