@{
    ViewBag.Title = "Home Page";
}


<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>
        
</header>

<div >
        <div  style="background-image: url('../../Assert/Images/rongzi/banner.jpg'); height: 520px; background-position: center; background-repeat: no-repeat;">
            <div class="am-container am-slider-desc">
                <div class="am-slider-content">
                      </div>
            </div>
        </div>
</div>
    <div class="m-cusnav ">
        <div class="am-container m-cusnav-div m-home-box">
            <ul>
                <li>
                    <a href="/Home/Index">首&nbsp;&nbsp;页</a>
                </li>
                <li>

                    <a href="/Home/Medical">医疗器械资质</a>
                </li>
                <li>
                    <a href="/Home/FoodStuff">食品经营资质</a>
                </li>
                <li class="select">
                    <a href="/Home/NetCulture">网络文化经营许可证</a>
                </li>
                <li>
                    <a href="javascript:void(0);">融资租赁资质</a>
                </li>
                <li >
                    <a href="/Home/Build">建筑施工资质</a>
                </li>
                <li>
                    <a href="javascript:void(0);">关于我们</a>
                </li>
            </ul>
        </div>

</div>

<section style="text-align:center;" class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>业务范围</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <div class="am-g fi-fan">
            <div class="am-u-md-5">
                <div style="float:left; width:47%; height:300px; background:#00C59F;margin-right:3%;position:relative;">
                   <div class="fi-fan-left-span">
                       <span>融资租赁公司</span>
                   </div>
                    <div class="fi-fan-left-img">
                        <img src="~/Assert/Images/rongzi/融资租赁.png" />
                    </div>
                </div>
                <div style="float:left; width:47%; height:300px; background:#A053B8;margin-right:3%;position:relative;">
                    <div class="fi-fan-left-span">
                        <span>商业保理公司</span>
                    </div>
                    <div class="fi-fan-left-img">
                        <img src="~/Assert/Images/rongzi/商业保理.png" />
                    </div>
                </div>
            </div>
            <div class="am-u-md-7">
                <div style="float:left; width:31.33%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                    <div class="fi-fan-right-img">
                        <img src="~/Assert/Images/rongzi/资产管理.png" />
                    </div>
                    <div class="fi-fan-right-span">
                        <span>资产管理公司</span>
                    </div>
                </div>
                <div style="float:left; width:31.33%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                    <div class="fi-fan-right-img">
                        <img src="~/Assert/Images/rongzi/投资管理.png" />
                    </div>
                    <div class="fi-fan-right-span">
                        <span>投资管理公司</span>
                    </div>
                </div>
                <div style="float:left; width:31.33%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                    <div class="fi-fan-right-img">
                        <img src="~/Assert/Images/rongzi/互联网金融.png" />
                    </div>
                    <div class="fi-fan-right-span">
                        <span>金融信息服务公司</span>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div style="margin-top:10px;">
                    <div style="float:left; width:48%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                        <div class="fi-fan-right-img">
                            <img src="~/Assert/Images/rongzi/金融信息.png" />
                        </div>
                        <div class="fi-fan-right-span">
                            <span>互联网金融信息服务公司</span>
                        </div>
                    </div>
                    <div style="float:left; width:48%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                        <div class="fi-fan-right-img">
                            <img src="~/Assert/Images/rongzi/私募基金.png" />
                        </div>
                        <div class="fi-fan-right-span">
                            <span>私募基金公司</span>
                        </div>
                    </div>
                </div>
                
            </div>
         </div>
        
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style" style=" margin-right: 50px;">我要注册</button>
            <button type="button" class="am-btn am-btn-warning  m-btn-style">我要转让</button>
        </div>
    </div>
</section>


<div  style="text-align:center;">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>金融拍照的热度</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
</div>



<section class="m-home-box">
    <div class="am-container" style="padding:0 100px; text-align:center">
        <div id='ichart-render'></div>
    </div>
    <div class="process-btn-div" style="text-align:center;">
        <button type="button" class="am-btn am-btn-warning  m-btn-style">我要咨询</button>
    </div>
</section>

<section class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>选择我们5大理由</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
    <div style="background-color:white;height:340px;">
        <div class="am-container">
            <div style="height:170px;">

            </div>
        </div>
    </div>
</section>


<section class="m-home-box">
    <div class="am-container net-povide">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>客户需要提供什么</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>

        <ul class="am-avg-md-5">
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/1.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        公司章程调档件（需加盖工商局红章，3个月内调取的有效）
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/2.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        执照副本原件、法人、自然人股东身份证原件（当场核验）
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/3.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        控股企业的相关资料（股东若均为自然人则无需提供）
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/4.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        公司基本情况、主要管理、技术人员的相关信息
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/5.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        与拟申请业务内容相对应的域名、业务网站
                    </span>
                </div>
            </li>
        </ul>
        <div class="process-btn-div" style="text-align:center;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">点击咨询</button>
        </div>
    </div>
</section>

<section class="m-home-box">
    <div class="am-container net-we-povide">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>我们提供什么服务</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-md-4">
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/方案制定.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                       <span>申请方案制定</span>
                    </div>
                    <div class="povide-span">
                        <span>梳理申请条件制定申请方案</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/材料撰写.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                        <span>申请材料撰写</span>
                    </div>
                    <div class="povide-span">
                        <span>根据公司业务撰写业务报告</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/服务体系.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                        <span>NO.1服务体系</span>
                    </div>
                    <div class="povide-span">
                        <span>一对一服务，申请材料无缝对接</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/独家承诺.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                        <span>唯一独家承诺</span>
                    </div>
                    <div class="povide-span">
                        <span>不通过全额退款</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="process-btn-div" style="text-align:center;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">点击咨询</button>
        </div>

    </div>
</section>


<section>
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>选择我们就是选择成功</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-md-4 net-success">
            <li>
               <div>
                   <img src="~/Assert/Images/netculture/专业.png" />
               </div>
               <div>
                   <span>专业</span>
               </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/可靠.png" />
                </div>
                <div>
                    <span>可靠</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/高效.png" />
                </div>
                <div>
                    <span>高效</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/放心.png" />
                </div>
                <div>
                    <span>放心</span>
                </div>
            </li>
        </ul>
    </div>
</section>

    <footer class="m-footer">
        <div class="m-footer-bottom">
            <div class="am-container">
                <div class="am-g">
                    <span class="m-u-sm-12 am-u-md-9 am-u-lg-10">
                        Copyright  2010 - 2015 www.imj2.com. All Rights Reserved <a href="http://www.miitbeian.gov.cn/" rel="external nofollow">粤ICP备11092500号-1</a>

                    </span>

                </div>
            </div>
        </div>
    </footer>
<script src='http://www.ichartjs.com/ichart.latest.min.js'></script>

<script type='text/javascript'>
$(function(){
      var chart = iChart.create({
            render:"ichart-render",
            width:1000,
            height:500,
            background_color:"#f7f7f7",
            gradient:false,
            color_factor:0.2,
            border:{
                  color:"BCBCBC",
                  width:0
            },
            align:"center",
            offsetx:0,
            offsety:0,
            sub_option:{
                  border:{
                        color:"#8f4747",
                        width:0
                  },
                  label:{
                        fontweight:500,
                        fontsize:18,
                        color:"#666",
                        sign:"square",
                        sign_size:12,
                        border:{
                              color:"#BCBCBC",
                              width:1
                        },
                        background_color:"#fefefe"
                  }
            },
            shadow:false,
            shadow_color:"#666666",
            shadow_blur:2,
            showpercent:false,
            column_width:"70%",
            bar_height:"70%",
            radius:"90%",
            legend:{
                  enable:false,
                  background_color:"#fefefe",
                  color:"#333333",
                  fontsize:15,
                  border:{
                        color:"#BCBCBC",
                        width:22
                  },
                  column:1,
                  align:"right",
                  valign:"center",
                  offsetx:0,
                  offsety:0
            },
            coordinate:{
                  width:"80%",
                  height:"84%",
                  background_color:"#f7f7f7",
                  axis:{
                        color:"#a5acb8",
                        width:["","","1","1"]
                  },
                  grid_color:"#d9d9d9",
                  label:{
                        fontweight:500,
                        color:"#3b3b3b",
                        fontsize:21
                  }
            },
            label:{
                  fontweight:500,
                  color:"#423c3c",
                  fontsize:22
            },
            type:"column2d",
            data:[
                  {
                  name: "融资租赁公司",
                  value:20,
                  color: "#FFB100"
            },{
                  name: "金融投资公司",
                  value:30,
                  color: "#00C59F"
            },{
                  name: "其他金融公司",
                  value:80,
                  color: "#2386FD"
            }
            ]
      });
      chart.draw();
});
</script>