@{
    ViewBag.Title = "Home Page";
}


<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>
        
</header>

<div >
        <div  style="background-image: url('../../Assert/Images/rongzi/banner.jpg'); height: 520px; background-position: center; background-repeat: no-repeat;">
            <div class="am-container am-slider-desc">
                <div class="am-slider-content">
                      </div>
            </div>
        </div>
</div>
    <div class="m-cusnav ">
        <div class="am-container m-cusnav-div m-home-box">
            <ul>
                <li>
                    <a href="/Home/Index">首&nbsp;&nbsp;页</a>
                </li>
                <li>

                    <a href="/Home/Medical">医疗器械资质</a>
                </li>
                <li>
                    <a href="/Home/FoodStuff">食品经营资质</a>
                </li>
                <li >
                    <a href="/Home/NetCulture">网络文化经营许可证</a>
                </li>
                <li class="select">
                    <a href="/Home/Financing">融资租赁资质</a>
                </li>
                <li >
                    <a href="/Home/Build">建筑施工资质</a>
                </li>
                <li>
                    <a href="javascript:void(0);">关于我们</a>
                </li>
            </ul>
        </div>

</div>

<section style="text-align:center;" class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>业务范围</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <div class="am-g fi-fan">
            <div class="am-u-md-5">
                <div style="float:left; width:47%; height:300px; background:#00C59F;margin-right:3%;position:relative;">
                   <div class="fi-fan-left-span">
                       <span>融资租赁公司</span>
                   </div>
                    <div class="fi-fan-left-img">
                        <img src="~/Assert/Images/rongzi/融资租赁.png" />
                    </div>
                </div>
                <div style="float:left; width:47%; height:300px; background:#A053B8;margin-right:3%;position:relative;">
                    <div class="fi-fan-left-span">
                        <span>商业保理公司</span>
                    </div>
                    <div class="fi-fan-left-img">
                        <img src="~/Assert/Images/rongzi/商业保理.png" />
                    </div>
                </div>
            </div>
            <div class="am-u-md-7">
                <div style="float:left; width:31.33%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                    <div class="fi-fan-right-img">
                        <img src="~/Assert/Images/rongzi/资产管理.png" />
                    </div>
                    <div class="fi-fan-right-span">
                        <span>资产管理公司</span>
                    </div>
                </div>
                <div style="float:left; width:31.33%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                    <div class="fi-fan-right-img">
                        <img src="~/Assert/Images/rongzi/投资管理.png" />
                    </div>
                    <div class="fi-fan-right-span">
                        <span>投资管理公司</span>
                    </div>
                </div>
                <div style="float:left; width:31.33%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                    <div class="fi-fan-right-img">
                        <img src="~/Assert/Images/rongzi/互联网金融.png" />
                    </div>
                    <div class="fi-fan-right-span">
                        <span>金融信息服务公司</span>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div style="margin-top:10px;">
                    <div style="float:left; width:48%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                        <div class="fi-fan-right-img">
                            <img src="~/Assert/Images/rongzi/金融信息.png" />
                        </div>
                        <div class="fi-fan-right-span">
                            <span>互联网金融信息服务公司</span>
                        </div>
                    </div>
                    <div style="float:left; width:48%; height:145px; background:#2386FD;margin-right:2%;position:relative;">
                        <div class="fi-fan-right-img">
                            <img src="~/Assert/Images/rongzi/私募基金.png" />
                        </div>
                        <div class="fi-fan-right-span">
                            <span>私募基金公司</span>
                        </div>
                    </div>
                </div>
                
            </div>
         </div>
        
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style" style=" margin-right: 50px;">我要注册</button>
            <button type="button" class="am-btn am-btn-warning  m-btn-style">我要转让</button>
        </div>
    </div>
</section>


<div  style="text-align:center;">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>金融拍照的热度</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
</div>



<section class="m-home-box">
    <div class="am-container" style="padding:0 100px; text-align:center">
        <div id='ichart-render'></div>
    </div>
    <div class="process-btn-div" style="text-align:center;">
        <button type="button" class="am-btn am-btn-warning  m-btn-style">我要咨询</button>
    </div>
</section>

<section class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>选择我们5大理由</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
    <div style="background-color:white;height:340px;" class="fi-ichoose">
        <div class="am-container fi-ichoose-top">
            <div class="am-g">
                <div class="am-u-md-6" style="border-right:1px dashed #ccc;">
                    <div class="fi-ichoose-icon">
                        <img src="~/Assert/Images/rongzi/品质保障.png" />
                    </div>
                    <div class="fi-ichoose-text">
                        <h1>品质保障</h1>
                        <span>
                            5年行业经验，共计成功办理金融类资质800多例，企业注册982例，特殊审批业务571例，建筑资质办理300多例。若不成功，全额退款。
                        </span>
                    </div>
                </div>
                <div class="am-u-md-6">
                    <div class="fi-ichoose-icon">
                        <img src="~/Assert/Images/rongzi/专业专注.png" />
                    </div>
                    <div class="fi-ichoose-text">
                        <h1>专业专注</h1>
                        <span>
                            掘金拥有面向全国的专业服务网络，北京，上海，深圳三大城市皆有分公司同步办理业务。
                        </span>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-md-4" style="border-right:1px dashed #ccc; height:130px;">
                    <div>
                        <div class="fi-ichoose-icon">
                            <img src="~/Assert/Images/rongzi/办理迅速.png" />
                        </div>
                        <div class="fi-ichoose-text">
                            <h1>办理迅速</h1>
                            <span>
                                加急变更只需3天！
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-4" style="border-right:1px dashed #ccc; height:130px;">
                    <div>
                        <div class="fi-ichoose-icon">
                            <img src="~/Assert/Images/rongzi/高端服务.png" />
                        </div>
                        <div class="fi-ichoose-text">
                            <h1>高端服务</h1>
                            <span>
                                作为商务服务领域领跑者，拥有一流的业务团队跟强大的互助网络。
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div>
                        <div class="fi-ichoose-icon">
                            <img src="~/Assert/Images/rongzi/选择.png" />
                        </div>
                        <div class="fi-ichoose-text">
                            <h1>当您选择我们的时候，我们已经准备好了一切。</h1>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<section>
    <div class="process-btn-div" style="text-align:center;margin-top:0px;margin-bottom:15px;">
        <button type="button" class="am-btn am-btn-warning  m-btn-style">我要注册</button>
    </div>
</section>


<section class="m-home-box">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>真实案例</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>

       

        <div class="am-g " style="padding:0 10px;">
            <div class="am-u-md-3">

                <img src="~/Assert/Images/hospi/kehu.jpg" width="270" />
            </div>
            <div class="am-u-md-9">
                <div style="color:#7d7d7d; font-size:24px; margin-left:25px;text-indent: 2em;    line-height: 2;">
                    李先生于2011年在上海成立XX机械公司，长期对华东地区进行产品输送。2016年中旬因业务需要，李先生打算购买一个融资租赁公司执照，以此来扩大公司业务范围。但通过各大财务公司多次寻找并未曾有合适的，主要原因是价格过高而且介绍的融资租赁公司并非一手资源。几经波折后经业内朋友介绍掘金（上海）企业服务有限公司，成功购买了一个一手融资租赁公司执照，价格也在接受范围之内，因此顺利扩大公司业务。
                </div>
            </div>
            
          
        </div>
       
    </div>
</section>

<section class="m-home-box">
    <div class="am-container net-we-povide">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>业务服务问答</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
</section>

<section style="background-image: url('../../Assert/Images/rongzi/问答banner.jpg');height: 400px; background-position: center; background-repeat: no-repeat;">
    <div class="am-container">
        <div class="am-g fi-talk">
            <div class="am-u-md-3" style="margin-top:150px;">
                <img src="~/Assert/Images/rongzi/文字.png" />
            </div>
            <div class="am-u-md-9">
                <div class="fi-talk-left">
                    <img src="~/Assert/Images/rongzi/用户.png" />
                    <span>上海的融资租赁公司，变更时需要法人到场吗？</span>
                </div>
                <div class="fi-talk-right">
                    <span>您好，上海的融资租赁公司，不可调整股东结构，变更需要法人到场约谈。</span>
                    <img src="~/Assert/Images/rongzi/客服.png" />
                </div>
                <div class="fi-talk-left">
                    <img src="~/Assert/Images/rongzi/用户.png" />
                    <span>深圳前海融资租赁公司变更需不需要法人到场？</span>
                </div>
                <div class="fi-talk-right">
                    <span>您好，深圳前海融资租赁公司变更是不需要法人到场的，可以调整股东结构。</span>
                    <img src="~/Assert/Images/rongzi/客服.png" />
                </div>
                <div class="fi-talk-left">
                    <img src="~/Assert/Images/rongzi/用户.png" />
                    <span>融资租赁公司变更时需要提供什么材料？</span>
                </div>
                <div class="fi-talk-right">
                    <span>您好，需要提供法人、财务、监事、高管人员的信息。</span>
                    <img src="~/Assert/Images/rongzi/客服.png" />
                </div>
            </div>
        </div>
        
    </div>
</section>
<div class="process-btn-div" style="text-align:center;">
    <button type="button" class="am-btn am-btn-warning  m-btn-style">我要咨询</button>
</div>
<div class="fi-shi">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>我们的实力</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-lg-6 fi-zhizhao">
            <li>
                <img src="~/Assert/Images/rongzi/1.jpg"  class="sm-img" width="100%"/>
                <div class="big-div big-div-left">
                    <img width="320" src="~/Assert/Images/rongzi/1.jpg" />
                </div>
            </li>
            <li>
                <img src="~/Assert/Images/rongzi/2.jpg" class="sm-img" width="100%" />
                <div class="big-div big-div-left">
                    <img width="320" src="~/Assert/Images/rongzi/2.jpg" />
                </div>
            </li>
            <li>
                <img src="~/Assert/Images/rongzi/3.jpg" class="sm-img" width="100%" />
                <div class="big-div big-div-left">
                    <img width="320" src="~/Assert/Images/rongzi/3.jpg" />
                </div>
            </li>
            <li>
                <img src="~/Assert/Images/rongzi/4.jpg" class="sm-img" width="100%" />
                <div class="big-div big-div-right">
                    <img width="320" src="~/Assert/Images/rongzi/4.jpg" />
                </div>
            </li>
            <li>
                <img src="~/Assert/Images/rongzi/5.jpg" class="sm-img" width="100%" />
                <div class="big-div big-div-right">
                    <img width="320" src="~/Assert/Images/rongzi/5.jpg" />
                </div>
            </li>
            <li>
                <img src="~/Assert/Images/rongzi/6.jpg" class="sm-img" width="100%" />
                <div class="big-div big-div-right">
                    <img width="320" src="~/Assert/Images/rongzi/6.jpg" />
                </div>
            </li>
        </ul>
    </div>

</div>

    <footer class="m-footer">
        <div class="m-footer-bottom">
            <div class="am-container">
                <div class="am-g">
                    <span class="m-u-sm-12 am-u-md-9 am-u-lg-10">
                        Copyright  2010 - 2015 www.imj2.com. All Rights Reserved <a href="http://www.miitbeian.gov.cn/" rel="external nofollow">粤ICP备11092500号-1</a>

                    </span>

                </div>
            </div>
        </div>
    </footer>
<script src='http://www.ichartjs.com/ichart.latest.min.js'></script>

<script type='text/javascript'>
$(function(){
      var chart = iChart.create({
            render:"ichart-render",
            width:1000,
            height:500,
            background_color:"#f7f7f7",
            gradient:false,
            color_factor:0.2,
            border:{
                  color:"BCBCBC",
                  width:0
            },
            align:"center",
            offsetx:0,
            offsety:0,
            sub_option:{
                  border:{
                        color:"#8f4747",
                        width:0
                  },
                  label:{
                        fontweight:500,
                        fontsize:18,
                        color:"#666",
                        sign:"square",
                        sign_size:12,
                        border:{
                              color:"#BCBCBC",
                              width:1
                        },
                        background_color:"#fefefe"
                  }
            },
            shadow:false,
            shadow_color:"#666666",
            shadow_blur:2,
            showpercent:false,
            column_width:"70%",
            bar_height:"70%",
            radius:"90%",
            legend:{
                  enable:false,
                  background_color:"#fefefe",
                  color:"#333333",
                  fontsize:15,
                  border:{
                        color:"#BCBCBC",
                        width:22
                  },
                  column:1,
                  align:"right",
                  valign:"center",
                  offsetx:0,
                  offsety:0
            },
            coordinate:{
                  width:"80%",
                  height:"84%",
                  background_color:"#f7f7f7",
                  axis:{
                        color:"#a5acb8",
                        width:["","","1","1"]
                  },
                  grid_color:"#d9d9d9",
                  label:{
                        fontweight:500,
                        color:"#3b3b3b",
                        fontsize:21
                  }
            },
            label:{
                  fontweight:500,
                  color:"#423c3c",
                  fontsize:22
            },
            type:"column2d",
            data:[
                  {
                  name: "融资租赁公司",
                  value:20,
                  color: "#FFB100"
            },{
                  name: "金融投资公司",
                  value:30,
                  color: "#00C59F"
            },{
                  name: "其他金融公司",
                  value:80,
                  color: "#2386FD"
            }
            ]
      });
      chart.draw();
});
</script>