@{
    ViewBag.Title = "食品经营资质";
}


<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>

</header>

<div>
    <div style=" background-image: url('/Assert/Images/FoodStuff/banner3.jpg'); height: 520px; background-position: center; background-repeat: no-repeat;">
        <div class="am-container am-slider-desc">
           
        </div>
    </div>
</div>
<div class="m-cusnav">
    <div class="am-container m-cusnav-div">
        <ul>
            <li>
                <a href="/Home/Index">首&nbsp;&nbsp;页</a>
            </li>
            <li>
                <a href="/Home/Medical">医疗器械资质</a>
            </li>
            <li class="select">
                <a href="/Home/FoodStuff">食品经营资质</a>
            </li>
            <li>
                <a href="/Home/NetCulture">网络文化经营许可证</a>
            </li>
            <li>
                <a href="javascript:void(0);">融资租赁资质</a>
            </li>
            <li>
                <a href="/Home/Build">建筑施工资质</a>
            </li>
            <li>
                <a href="javascript:void(0);">关于我们</a>
            </li>
        </ul>
    </div>

</div>
<section class ="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>食品流通许可证</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <div class="am-g ">
            <div class="am-u-md-5" style="margin-top: 28px;     margin-left: 3%; background-position: center; background-image: url('../../Assert/Images/FoodStuff/littlebanner.jpg');background-repeat:no-repeat; height:230px;">

            </div>
            <div class="am-u-md-6" style="margin-left: 5%;">
                <div class="m-font-title-color" style="font-size:25px;">
                    <span>预包装食品许可证办理</span>
                    <img src="~/Assert/Images/FoodStuff/font_3.png" style=" padding-bottom: 12px;" />
                    <span>大必要条件</span>
                </div>
                <div class="food-span-thread">
                    <img src="~/Assert/Images/FoodStuff/1.png" />
                    <span>营业执照复印件一份</span>
                </div>
                <div class="food-span-thread">
                    <img src="~/Assert/Images/FoodStuff/2.png" />
                    <span>负责人身份证明以及健康证明</span>
                </div>
                <div class="food-span-thread">
                    <img src="~/Assert/Images/FoodStuff/3.png" />
                    <span>经营场所使用证明材料</span>
                </div>
            </div>
        </div>
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">咨询全部材料</button>
        </div>

    </div>
</section>


<section class="m-home-box">
    <div class="am-container ">
        <div class="am-g ">

            <div class="am-u-md-6">
                <div style="background-image: url('/Assert/Images/FoodStuff/冷冻食品.jpg'); background-repeat:no-repeat; height:560px; background-position: center;">
                    <div class="process-btn-div">
                        <button type="button" class="am-btn m-btn-style food-btn-trance" style="margin-top: 52%;">在线咨询</button>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6">
                <div style="background-image: url('/Assert/Images/FoodStuff/批发类食品.jpg');background-repeat:no-repeat;height:260px;background-position: center;">
                    <div class="process-btn-div">
                        <button type="button" class="am-btn m-btn-style food-btn-trance" style="margin-top: 30%;">在线咨询</button>
                    </div>
                </div>
                <div style=" background-image: url('/Assert/Images/FoodStuff/零售食品.jpg'); background-repeat: no-repeat; height: 260px; background-position: center; margin-top:40px;">
                    <div class="process-btn-div">
                        <button type="button" class="am-btn m-btn-style food-btn-trance" style="margin-top: 27%;">在线咨询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="m-home-box">
        <div class="am-container">
            <h1 class="m-text-center m-font-title-color">真实案例</h1>

            <div class="am-g ">
                <div style="color:#7d7d7d; font-size:18px; margin-left:25px;">
                    <p style="text-indent: 2em;">2016年9月24日,上海市食药监局执法人员在检查中发现，由林某经营的百货店货架上摆放68种无中文标签和无中文说明书的预包装食品，涉及婴幼儿配方奶粉、牛奶饮料、朱古力等品种，均为其从香港购进。现场检查发现，林某不能出示《食品流通许可证》。</p>
                    <p style="text-indent: 2em;">执法人员随即对林某作出如下处罚：没收无中文标签、无中文说明书的预包装食品；对无《食品流通许可证》销售无中文标签、中文说明书预包装食品的行为罚款13000元。</p>

                </div>
            </div>
        </div>
    </section>

    <section class="m-home-box">
        <div style="background-image: url('/Assert/Images/FoodStuff/banner_bkg.jpg'); height:432px; background-repeat: no-repeat; ">
            <div class="am-container">
                <div class="m-text-center m-font-title-color" style=" color:white; margin-bottom:25px;">
                    <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
                    <span>餐饮服务许可证</span>
                    <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
                </div>
                <div class="am-g m-text-center">
                    <div class="am-u-md-3">
                        <img src="~/Assert/Images/FoodStuff/奶茶.png" />
                    </div>
                    <div class="am-u-md-3">
                        <img src="~/Assert/Images/FoodStuff/食堂.png" />
                    </div>
                    <div class="am-u-md-3">
                        <img src="~/Assert/Images/FoodStuff/饭店.png" />
                    </div>
                    <div class="am-u-md-3">
                        <img src="~/Assert/Images/FoodStuff/小吃.png" />
                    </div>
                </div>
                <div class="am-g m-text-center m-food-ser-text">
                    <div class="am-u-md-3">
                        <span>我想开个奶茶饮料店</span>
                    </div>
                    <div class="am-u-md-3">
                        <span>我们公司要开一个自己的员工食堂</span>
                    </div>
                    <div class="am-u-md-3">
                        <span>我想开个普通饭店赚钱</span>
                    </div>
                    <div class="am-u-md-3">
                        <span>我想租个门店做特色小吃</span>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <section class="m-home-box">
        <div style="background-color:#00A2EE; height:385px;">
            <div class="am-container">
                <div class="am-g m-text-center" style="margin-top:40px;">
                    <div class="am-u-md-5">
                        <img src="~/Assert/Images/FoodStuff/气球.png" />
                    </div>
                    <div class="am-u-md-7" style="text-align:left">
                        <img src="~/Assert/Images/FoodStuff/font.png" />
                    </div>
                </div>
                <div class="process-btn-div" style="margin-top:0px;">
                    <button type="button" class="am-btn am-btn-warning  m-btn-style">餐饮类型咨询</button>
                </div>
            </div>
        </div>
    </section>



    <section class="m-home-box ">
        <div class="am-container">
            <h1 class="m-text-center m-font-title-color">办理条件</h1>

            <div class="am-g m-food-dea" style="margin:0 80px;">
                <div class="am-u-md-6">
                    <img src="~/Assert/Images/FoodStuff/01.png" />
                    <span>有符合该类处理跟加工的场所</span>
                </div>
                <div class="am-u-md-6">
                    <img src="~/Assert/Images/FoodStuff/02.png" />
                    <span>具有先关的经营设备设施。</span>
                </div>
                <div class="am-u-md-6">
                    <img src="~/Assert/Images/FoodStuff/03.png" />
                    <span>具有先关的食品安全管理人员</span>
                </div>
                <div class="am-u-md-6">
                    <img src="~/Assert/Images/FoodStuff/04.png" />
                    <span>具有合理的布局和加工流程</span>
                </div>
                <div class="am-u-md-6">
                    <img src="~/Assert/Images/FoodStuff/05.png" />
                    <span>当地食药监管理局相关规定</span>
                </div>
                <div class="am-u-md-6">
                    <img src="~/Assert/Images/FoodStuff/06.png" />
                    <span>其他办理条件</span>
                </div>
            </div>
            <div class="process-btn-div">
                <button type="button" class="am-btn am-btn-warning  m-btn-style">免费咨询</button>
            </div>
        </div>
    </section>

    <section class="m-home-box">
        <div class="am-container ">
            <div class="m-text-center m-font-title-color" style="  margin-bottom:25px;margin-top:25px;">
                <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
                <span>为什么选择我们</span>
                <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
            </div>
            <div class="am-g m-text-center">
                <div class="am-u-md-3">
                    <img src="~/Assert/Images/FoodStuff/品牌服务.png" />
                </div>
                <div class="am-u-md-3">
                    <img src="~/Assert/Images/FoodStuff/快速服务.png" />
                </div>
                <div class="am-u-md-3">
                    <img src="~/Assert/Images/FoodStuff/实力服务.png" />
                </div>
                <div class="am-u-md-3">
                    <img src="~/Assert/Images/FoodStuff/放心服务.png" />
                </div>
            </div>
            <div class="am-g m-text-center">
                <div class="am-u-md-3">
                    <h2>品牌服务</h2>
                </div>
                <div class="am-u-md-3">
                    <h2>快速服务</h2>
                </div>
                <div class="am-u-md-3">
                    <h2>实力服务</h2>
                </div>
                <div class="am-u-md-3">
                    <h2>放心服务</h2>
                </div>
            </div>
            <div class="am-g m-text-center">
                <div class="am-u-md-3">
                    <p>电话3分钟内响应</p>
                </div>
                <div class="am-u-md-3">
                    <p>热线3分钟内迅速回应</p>
                </div>
                <div class="am-u-md-3">
                    <p>超过500家成功案例</p>
                </div>
                <div class="am-u-md-3">
                    <p>所有客户信息完全保密</p>
                </div>
            </div>
        </div>

    </section>
