@{
    ViewBag.Title = "Home Page";
}


<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>
        
</header>

<div >
        <div  style="background-image: url(/Assert/Images/hospi/banner2.jpg); height: 520px; background-position: center; background-repeat: no-repeat;">
            <div class="am-container am-slider-desc">
                <div class="am-slider-content">
                      </div>
            </div>
        </div>
</div>
    <div class="m-cusnav ">
        <div class="am-container m-cusnav-div m-home-box">
            <ul>
                <li>
                    <a href="/Home/Index">首&nbsp;&nbsp;页</a>
                </li>
                <li>

                    <a href="/Home/Medical">医疗器械资质</a>
                </li>
                <li>
                    <a href="/Home/FoodStuff">食品经营资质</a>
                </li>
                <li  class="select">
                    <a href="/Home/NetCulture">网络文化经营许可证</a>
                </li>
                <li>
                    <a href="/Home/Financing">融资租赁资质</a>
                </li>
                <li>
                    <a href="/Home/Build">建筑施工资质</a>
                </li>
                <li>
                    <a href="javascript:void(0);">关于我们</a>
                </li>
            </ul>
        </div>

</div>
<!--公司注册范围-->
<section style="text-align:center;" class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>医疗器械注册流程</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>

        <img src="~/Assert/Images/hospi/条件.png" />
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">点击咨询</button>
        </div>
    </div>
</section>
<!--注册公司要准备这些-->
<div class="m-medical-need m-home-box" style="text-align:center;">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>办理流程</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <img src="~/Assert/Images/hospi/办理流程.png" />
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">立即办理</button>
        </div>
    </div>
</div>

<section style="background:#0095a2; height:500px;">
    <div class="am-container" style="padding-top:30px;">
        <div style="margin-left:80px;">
            <img src="~/Assert/Images/hospi/2_pc.png" />
        </div>
        <div>
           <div style="float:left; margin:40px 100px;    margin-bottom: 0;">
               <img src="~/Assert/Images/hospi/1_pc.png" />
           </div>
            <div style="float:right; margin-right:20px; margin-top:50px;">
                <div>
                    <img src="~/Assert/Images/hospi/3_pc.png" />
                    <div class="medical-shop" style=" margin-top: 20px;margin-left:10px;">
                        <p>一类医疗器械销售资质可直接办理</p>
                        <p>二类医疗器械销售资质需先备案证明方可办理销售资质</p>
                        <p>三类医疗器械销售资质需先办理医疗器械许可证方可办理销售资质</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="process-btn-div" style="clear:both;">
            <button type="button" class="am-btn am-btn-default  m-btn-style" style="color:#0095a2;">办理材料咨询</button>
        </div>
       
    </div>

</section>

<section class="m-home-box">
    <div class="am-container">
        <h1 class="m-text-center m-font-title-color">客户真实案例</h1>

        <div class="am-g " style="padding:0 140px;">
            <div class="am-u-md-4">

                <img src="~/Assert/Images/hospi/kehu.jpg" width="270" />
            </div>
            <div class="am-u-md-8">
                <div style="color:#7d7d7d; font-size:25px; margin-left:25px;text-indent: 2em;">
                    上海浦东新区的张先生想办理一个三类医疗器械销售资质，但是没有实际注册地址，多方咨询后没有得到解决。后经过网络搜索找到XXXX公司，在XXX公司的提供指导下，整个过程XXX公司全程代办，一共花费时间1个月，顺利的获得地址并且办理好了医疗器械销售资质，目前已经正常营业。
                </div>
            </div>
            <div style="color:#7d7d7d; font-size:25px; padding-top:20px;    clear: both;">
                <img src="~/Assert/Images/hospi/mark.png" style="padding-right:20px;" />注意事项：医疗器械销售资质注册地址必须跟实际办公地址相符合
            </div>
            <div class="process-btn-div">
                <button type="button" class="am-btn am-btn-warning  m-btn-style">地址问题咨询</button>
            </div>
        </div>
    </div>

</section>


<section style="background:#00a5eb; height:550px;">
    <div class="am-container" style="padding-top:30px;">
        <div style="margin-left:80px;">
            <img src="~/Assert/Images/hospi/6_pc.png"/>
        </div>
        <div>
            <div style="float:left;     margin-top: 90px; margin-left: 20px;   margin-bottom: 0;">
                <img src="~/Assert/Images/hospi/5_pc.png" height="350" />
            </div>
            <div style="float:right;  margin-top:30px;">
                <div>
                    <img src="~/Assert/Images/hospi/7_pc.png" />
                    <div class="medical-shop" style=" margin-top: 20px;margin-left:10px;">
                        <p>备案材料</p>
                        <p>二类医疗器械备案表</p>
                        <p>营业执照复印件</p>
                        <p>公司法人高管身份证信息</p>
                        <p>经营场所地理位置图</p>
                        <p>房产所有证</p>
                        <p>租赁合同复印件</p>
                        <p>经办人证明</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="process-btn-div"  style=" float: left;">
            <button type="button" class="am-btn am-btn-default  m-btn-style" style="color:#0095a2;    margin-left: -21px;">办理材料咨询</button>
        </div>

    </div>

</section>



<div class="m-shi m-home-box">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>他们选择了我们就是成功</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul>
            <li>
                <img width="220"  src="~/Assert/Images/register/shi/1.jpg" class="sm-img" />
                <div class="big-div big-div-left">
                    <img width="320" src="~/Assert/Images/register/shi/1.jpg" />
                </div>
            </li>
            <li>
                <img width="220" src="~/Assert/Images/register/shi/2.jpg" class="sm-img" />
                <div class="big-div big-div-left">
                    <img width="320" src="~/Assert/Images/register/shi/2.jpg" />
                </div>
            </li>
            <li>
                <img width="220" src="~/Assert/Images/register/shi/3.jpg" class="sm-img" />
                <div class="big-div big-div-right">
                    <img width="320" src="~/Assert/Images/register/shi/3.jpg" />
                </div>
            </li>
            <li>
                <img width="220" src="~/Assert/Images/register/shi/4.jpg" class="sm-img"/>
                <div class="big-div big-div-right">
                    <img width="320" src="~/Assert/Images/register/shi/4.jpg" />
                </div>
            </li>
        </ul>
    </div>

</div>

<footer class="m-footer">
    <div class="m-footer-bottom">
        <div class="am-container">
            <div class="am-g">
                <span class="m-u-sm-12 am-u-md-9 am-u-lg-10">
                    Copyright  2010 - 2015 www.imj2.com. All Rights Reserved <a href="http://www.miitbeian.gov.cn/" rel="external nofollow">粤ICP备11092500号-1</a>
                   
                </span>
                
            </div>
        </div>
    </div>
</footer>

