@{
    ViewBag.Title = "Home Page";
}


<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
        <div class="am-container">
            <a href="/" rel="nofollow" class="m-logo"><i class="am-icon-spinner"></i> J2 Network</a>

            <a href="/" rel="nofollow" class="m-phone"><i class="am-icon-spinner"></i> J2 Network</a>
            <!--        <ul class="am-fr m-about">
                    <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                    <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                </ul> -->

        </div>

    </section>
        
</header>

<div >
        <div  style="background-image: url('../../Assert/Images/netculture/banner.jpg'); height: 520px; background-position: center; background-repeat: no-repeat;">
            <div class="am-container am-slider-desc">
                <div class="am-slider-content">
                      </div>
            </div>
        </div>
</div>
    <div class="m-cusnav ">
        <div class="am-container m-cusnav-div m-home-box">
            <ul>
                <li>
                    <a href="/Home/Index">首&nbsp;&nbsp;页</a>
                </li>
                <li>

                    <a href="/Home/Medical">医疗器械资质</a>
                </li>
                <li>
                    <a href="/Home/FoodStuff">食品经营资质</a>
                </li>
                <li class="select">
                    <a href="/Home/NetCulture">网络文化经营许可证</a>
                </li>
                <li>
                    <a href="/Home/Financing">融资租赁资质</a>
                </li>
                <li >
                    <a href="/Home/Build">建筑施工资质</a>
                </li>
                <li>
                    <a href="javascript:void(0);">关于我们</a>
                </li>
            </ul>
        </div>

</div>

<section style="text-align:center;" class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>办理网络文化经营许可证条件</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-md-3 net-range">
            <li>
                <div class="net-range-div" style="background-image: url('../../Assert/Images/netculture/注册资金.jpg');">
                    <div class="net-do-text">
                        <span>
                            纯内资公司注册资金最低100万
                        </span>
                    </div>
                </div>
            </li>

            <li>
                <div class="net-range-div" style="background-image: url('../../Assert/Images/netculture/技术服务.jpg');">
                    <div class="net-do-text">
                        <span>
                            公司经营范围内必须有计算机科技领域四技术服务
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <div class="net-range-div" style="background-image: url('../../Assert/Images/netculture/网站和域名.jpg');">
                    <div class="net-do-text">
                        <span>
                            网站跟域名
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <h1 class="m-text-center m-font-title-color">满足以上要求，剩下的交给我们！</h1>
        
        <div class="process-btn-div">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">我要办理</button>
        </div>
    </div>
</section>

<section>
    <div style=" background-image: url('../../Assert/Images/netculture/banner_1.jpg');  height: 300px; background-position: center; background-repeat: no-repeat;">
        <div class="am-container">
            <button type="button" class="am-btn m-btn-style net-btn-white" style=" float: right; margin-top: 150px;">立即抓住机会</button>
        </div>
    </div>
</section>

<div  style="text-align:center;">
    <div class="am-container ">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>如果您的公司有以下业务，也需要网络文化经营许可证</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
    </div>
</div>



<section class="m-home-box">
    <div class="am-container net-if-div" >
        <div class="am-g ">

            <div class="am-u-md-6" style="padding-right:1rem;">
                <div style="background-image: url('../../Assert/Images/netculture/游戏运营.jpg'); background-repeat: no-repeat; height: 500px; background-position: center;">
                    <div class="process-btn-div" style="padding-top:220px;padding-left:170px;">
                        <span >游戏运营、虚拟货币发行</span>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6" style="padding-left:1rem; ">
                <div style="background-image: url('../../Assert/Images/netculture/网络游戏.jpg'); background-repeat: no-repeat; height: 250px; background-position: center;">
                    <div class="process-btn-div" style="padding-top: 122px;padding-left: 192px;">
                        <span style="margin-top: 30%;">网络游戏虚拟货币交易</span>
                    </div>
                </div>
                <div style="background-image: url('../../Assert/Images/netculture/直播.jpg');  background-repeat: no-repeat; height: 260px; background-position: center; margin-top: 5px;">
                    <div class="process-btn-div" style="margin-top:0;  padding-top: 121px;padding-left: 242px;">
                        <span style="margin-top: 30%;">直播平台类</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-g ">

            <div class="am-u-md-6" style="padding-right:1rem;">
                <div style="background-image: url('../../Assert/Images/netculture/动漫.jpg'); background-repeat: no-repeat; height: 300px; background-position: center;">
                    <div class="process-btn-div" style="padding-top: 142px;padding-left: 200px; margin-top:5px;">
                        <span>经营网络动漫产品</span>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6" style="padding-left:1rem; ">
                <div style="background-image: url('../../Assert/Images/netculture/音乐.jpg'); background-repeat: no-repeat; height: 300px; background-position: center;">
                    <div class="process-btn-div" style="padding-top:142px;padding-left:197px;margin-top:5px;">
                        <span>经营网络音乐产品</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="process-btn-div" style="text-align:center;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">我要咨询</button>
        </div>
    </div>

</section>

<section class="m-home-box">
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>我们的服务流程</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <div style="text-align:center;">
            <img src="~/Assert/Images/netculture/流程图.png" />
        </div>
        <div class="process-btn-div" style="text-align:center;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">我要办理</button>
        </div>
    </div>

</section>


<section class="m-home-box">
    <div class="am-container net-povide">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>客户需要提供什么</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>

        <ul class="am-avg-md-5">
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/1.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        公司章程调档件（需加盖工商局红章，3个月内调取的有效）
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/2.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        执照副本原件、法人、自然人股东身份证原件（当场核验）
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/3.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        控股企业的相关资料（股东若均为自然人则无需提供）
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/4.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        公司基本情况、主要管理、技术人员的相关信息
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/5.png" />
                </div>
                <div class="net-povide-div">
                    <span>
                        与拟申请业务内容相对应的域名、业务网站
                    </span>
                </div>
            </li>
        </ul>
        <div class="process-btn-div" style="text-align:center;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">点击咨询</button>
        </div>
    </div>
</section>

<section class="m-home-box">
    <div class="am-container net-we-povide">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>我们提供什么服务</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-md-4">
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/方案制定.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                       <span>申请方案制定</span>
                    </div>
                    <div class="povide-span">
                        <span>梳理申请条件制定申请方案</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/材料撰写.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                        <span>申请材料撰写</span>
                    </div>
                    <div class="povide-span">
                        <span>根据公司业务撰写业务报告</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/服务体系.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                        <span>NO.1服务体系</span>
                    </div>
                    <div class="povide-span">
                        <span>一对一服务，申请材料无缝对接</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="left-img">
                    <img src="~/Assert/WapImages/netculture/独家承诺.png" />
                </div>
                <div class="right-txt">
                    <div class="povide-title">
                        <span>唯一独家承诺</span>
                    </div>
                    <div class="povide-span">
                        <span>不通过全额退款</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="process-btn-div" style="text-align:center;">
            <button type="button" class="am-btn am-btn-warning  m-btn-style">点击咨询</button>
        </div>

    </div>
</section>


<section>
    <div class="am-container">
        <div class="m-text-center m-font-title-color">
            <img src="~/Assert/Images/FoodStuff/titlemark_left.png" />
            <span>选择我们就是选择成功</span>
            <img src="~/Assert/Images/FoodStuff/titlemark_right.png" />
        </div>
        <ul class="am-avg-md-4 net-success">
            <li>
               <div>
                   <img src="~/Assert/Images/netculture/专业.png" />
               </div>
               <div>
                   <span>专业</span>
               </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/可靠.png" />
                </div>
                <div>
                    <span>可靠</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/高效.png" />
                </div>
                <div>
                    <span>高效</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Assert/Images/netculture/放心.png" />
                </div>
                <div>
                    <span>放心</span>
                </div>
            </li>
        </ul>
    </div>
</section>

    <footer class="m-footer">
        <div class="m-footer-bottom">
            <div class="am-container">
                <div class="am-g">
                    <span class="m-u-sm-12 am-u-md-9 am-u-lg-10">
                        Copyright  2010 - 2015 www.imj2.com. All Rights Reserved <a href="http://www.miitbeian.gov.cn/" rel="external nofollow">粤ICP备11092500号-1</a>

                    </span>

                </div>
            </div>
        </div>
    </footer>

