@{
    Layout = "~/Views/Shared/_WapLayout.cshtml";
}

@*<header class="am-topbar header">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img class=" logo" src="img/HENGWANG.png"></img>
            <img class="word" src="img/hw-word.png"></img>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">

            <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
                <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="solutions.html">解决方案</a></li>
                    <li><a href="product-show.html">产品展示 </a></li>
                    <li><a href="customer-case.html">客户案例</a></li>
                    <li><a href="service-center.html">服务中心 </a></li>
                    <li><a href="news.html">新闻动态 </a></li>
                    <li class="hw-menu-active"><a href="about-us.html">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>*@

<header class=" header">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img src="~/Assert/WapImages/register/tel.png" style=" vertical-align:top; margin-top:10px;"  />
        </div>
        <img src="~/Assert/WapImages/register/tel.png" class="am-topbar-toggle" style=" vertical-align:top;margin-top:10px;" />
    </div>
</header>
<header class=" header2">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img src="~/Assert/WapImages/register/btn_home.png" width="32" style=" vertical-align:top; margin-top:10px;" />
        </div>
        <img src="~/Assert/WapImages/register/btn_menu.png" class="am-topbar-toggle" data-am-offcanvas="{target: '#doc-topbar-collapse'}" width="32" style=" vertical-align:top;margin-top:10px;" />
      
        @*<div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">


            <div class=" am-topbar-left am-form-inline am-topbar-right am-topbar" role="search">
                <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                    <li class="hw-menu-active"><a href="index.html">首页</a></li>
                    <li><a href="solutions.html">解决方案</a></li>
                    <li><a href="product-show.html">产品展示 </a></li>
                    <li><a href="customer-case.html">客户案例</a></li>
                    <li><a href="service-center.html">服务中心 </a></li>
                    <li><a href="news.html">新闻动态 </a></li>
                    <li><a href="about-us.html">关于我们</a></li>
                    <li><a href="recruit.html">招贤纳士 </a></li>
                </ul>
            </div>

        </div>*@
        <div id="doc-topbar-collapse" class="am-offcanvas" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip am-offcanvas-bar-overlay am-offcanvas-bar-active" style="width:57%;background: white;">
                <nav class="am-offcanvas-content">
                    <a href="index.html" rel="nofollow"><span class="logo"></span></a>
                    <div class="wap-nav"><i class="am-icon-home"></i> <a href="/Wap/Index" rel="nofollow">网站首页</a></div>
                    <div class="wap-nav"><i class="am-icon-medkit"></i> <a href="/Wap/Medical" rel="nofollow">医疗器械资质</a></div>
                    <div class="wap-nav"><i class="am-icon-deaf"></i> <a href="/Wap/FoodStuff" rel="nofollow">食品经营资质</a></div>
                    <div class="wap-nav"><i class="am-icon-object-ungroup"></i> <a href="/Wap/NetCulture" rel="nofollow">网络文化经营许可证</a></div>
                    <div class="wap-nav"><i class="am-icon-money"></i> <a href="/about.html" rel="nofollow">融资租赁资质</a></div>
                    <div class="wap-nav"><i class="am-icon-building-o"></i> <a href="/Wap/Build" rel="nofollow">建筑施工资质</a></div>
                    <div class="wap-nav"><i class="am-icon-user"></i> <a href="/contact.html" rel="nofollow">关于我们</a></div>
                </nav>
            </div>
        </div>
    </div>
</header>
<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
       

    </section>

</header>
<section>

    <div class="wap-headerimg-div">

        <img src="~/Assert/WapImages/build/banner.jpg" />
    </div>
</section>
<div class="am-container wap-box">
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">业务范围</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>
    <section>
        <div class="wap-build-need">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                   <h1>建筑工程施工包承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                 
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_5.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need">
            <ul class="part-5-words2-ul-center mbt-img" >
                <li class="am-u-sm-7">
                    <h1>机电工程施工总承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_5.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>市政公用工程施工总承包</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_5.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>装修装饰工程专业承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_4.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>机电安装工程专业承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_5.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need start-hide">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>建筑幕墙工程专业承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_4.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need start-hide">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>防水防腐工程专业承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_4.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need start-hide">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>钢结构工程专业承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_4.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need start-hide">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>电子与智能化工程专业承包资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_5.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="wap-build-need start-hide">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-7">
                    <h1>施工劳务资质资质</h1>
                </li>
                <li class="am-u-sm-5">
                    <div class="wap-build-darsh">
                        <h2>市场需求度</h2>
                        <div><img src="~/Assert/WapImages/build/star_5.png" /></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="show-hide">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-12">
                    <img src="~/Assert/WapImages/hospi/arrow.png" style="width: 35px;"/>
                </li>
            </ul>
        </div>
        <div class="hide-hide" style=" display:none;">
            <ul class="part-5-words2-ul-center mbt-img">
                <li class="am-u-sm-12" >
                
                    <img src="~/Assert/WapImages/hospi/arrowup.png" style="width: 35px;" />
                  
                </li>
            </ul>
        </div>
        <div class="wap-center-btn">
            <button type="button" class="am-btn am-btn-warning am-radius" style="margin-top:1rem;">我要寻价</button>
        </div>
    </section>

    <section class="m-home-box">
        <div>
            
                <div style="margin:10px 0;">
                    <img src="~/Assert/WapImages/build/banner_1.jpg" width="100%" />
                </div>
         
        </div>
    </section>

    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="border:none; margin-bottom:0;">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">办理建筑类资质流程</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>


    <section class="m-home-box">
        <div class="am-container">
            <ul class="part-5-words2-ul-center mbt-img  wap-build-pro">
                <li class="am-u-sm-3">
                    <span>1、制定方案</span>
                </li>
                <li class="am-u-sm-3">
                    <span>2、签署合同</span>
                </li>
                <li class="am-u-sm-3">
                    <span>3、编辑材料</span>
                </li>
                <li class="am-u-sm-3">
                    <span>4、材料审核</span>
                </li>
            </ul>
            <div style="margin:0px 1rem; margin-bottom:10px;" >
                <img src="~/Assert/WapImages/build/流程图.png" width="100%" />
            </div>
            <ul class="part-5-words2-ul-center mbt-img  wap-build-pro ">
                <li class="am-u-sm-3">
                    <span>1、制定方案</span>
                </li>
                <li class="am-u-sm-3">
                    <span>2、签署合同</span>
                </li>
                <li class="am-u-sm-3">
                    <span>3、编辑材料</span>
                </li>
                <li class="am-u-sm-3">
                    <span>4、材料审核</span>
                </li>
            </ul>
            <div class="wap-center-btn">
                <button type="button" class="am-btn am-btn-warning am-radius">查看材料</button>
            </div>
        </div>
    </section>




    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="border:none; margin-bottom:0;">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">办理建筑施工资质需注意7点</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>


    <section class="m-home-box">
        <div class="am-container ">
            <div class="am-g " style="margin-bottom:10px;">

                <div class="am-u-sm-6">
                    <img src="~/Assert/WapImages/build/注意.png"  width="100%"/>
                </div>
                <div class="am-u-sm-6 wap-build-notice">
                    <div>
                        <img src="~/Assert/WapImages/build/01.png" />
                        <span>企业人员有哪些</span>
                    </div>
                    <div>
                        <img src="~/Assert/WapImages/build/02.png" />
                        <span>人员有无年龄限制</span>
                    </div>
                    <div>
                        <img src="~/Assert/WapImages/build/03.png" />
                        <span>相关专业按什么考核</span>
                    </div>
                    <div>
                        <img src="~/Assert/WapImages/build/04.png" />
                        <span>结构专业包括哪些</span>
                    </div>
                    <div>
                        <img src="~/Assert/WapImages/build/05.png" />
                        <span>个人业绩是怎么回事</span>
                    </div>
                    <div>
                        <img src="~/Assert/WapImages/build/06.png" />
                        <span>关于社保证明</span>
                    </div>
                    <div>
                        <img src="~/Assert/WapImages/build/07.png" />
                        <span>对职称证书的要求</span>
                    </div>
                </div>
            </div>
            <div class="wap-center-btn">
                <button type="button" class="am-btn am-btn-warning am-radius">详细咨询</button>
            </div>
        </div>
    </section>

    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="border:none; margin-bottom:0;">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">电子与智能化工程资质</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>
    <section class="m-home-box">
        <div class="am-container ">
            <div class="build-elec" style="background-image: url('../../Assert/WapImages/build/bkg_1.png');background-repeat:no-repeat; ">
                <div style="    padding: 1rem 0;">
                    <h1>一级资质</h1>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-sm-4" style=" padding-left: 5px;">
                        <img src="~/Assert/WapImages/build/注册资金.png" width="30" />
                        <span>注册资金：</span>
                    </div>
                    <div class="am-u-sm-8" style=" padding-right: 1px;">
                        <span>企业资产净资产2000 万元以上</span>
                    </div>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-sm-4" style=" padding-left: 5px;">
                        <img src="~/Assert/WapImages/build/业务范围.png"  width="30"/>
                        <span>业务范围：</span>
                    </div>
                    <div class="am-u-sm-8" style=" padding-right: 1px;">
                        <span>可承担各类型电子工程、建筑智能化工程施工</span>
                    </div>
                </div>
                <div class="process-btn-div" style="text-align:center;    padding: 1rem;">
                    <button type="button" class="am-btn m-btn-style food-btn-trance" style="background:#00C59F">在线咨询</button>
                </div>
            </div>

            <div class="build-elec" style="background-image: url('../../Assert/WapImages/build/bkg_2.png');background-repeat:no-repeat; ">
                <div style="    padding: 1rem 0;">
                    <h1>二级资质</h1>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-sm-4" style=" padding-left: 5px;">
                        <img src="~/Assert/WapImages/build/注册资金.png" width="30" />
                        <span>注册资金：</span>
                    </div>
                    <div class="am-u-sm-8" style=" padding-right: 1px;">
                        <span>企业资产净资产800 万元以上</span>
                    </div>
                </div>
                <div class="am-g elec-text">
                    <div class="am-u-sm-4" style=" padding-left: 5px;">
                        <img src="~/Assert/WapImages/build/业务范围.png" width="30" />
                        <span>业务范围：</span>
                    </div>
                    <div class="am-u-sm-8" style=" padding-right: 1px;">
                        <span>可承担一定合同额以下的电子系统工程和建筑智能化工程施工</span>
                    </div>
                </div>
                <div class="process-btn-div" style="text-align:center;    padding: 1rem;">
                    <button type="button" class="am-btn m-btn-style food-btn-trance" style="background:#027ADE">在线咨询</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="border:none; margin-bottom:0;">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">建筑工程施工总包资质</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>
    

    <section style="position:relative">
        <div  style="position:absolute">

            <img src="~/Assert/WapImages/build/banner_2.jpg" width="100%" />
        </div>
        <div class="wap-center-btn" style="position:absolute;width:100%; margin-top:28%; margin-bottom:0;">
            <button type="button" class="am-btn am-btn-warning am-radius" >在线咨询</button>
        </div>
    </section>
</div>

