@{
    Layout = "~/Views/Shared/_WapLayout.cshtml";
}

@*<header class="am-topbar header">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img class=" logo" src="img/HENGWANG.png"></img>
            <img class="word" src="img/hw-word.png"></img>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">

            <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
                <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="solutions.html">解决方案</a></li>
                    <li><a href="product-show.html">产品展示 </a></li>
                    <li><a href="customer-case.html">客户案例</a></li>
                    <li><a href="service-center.html">服务中心 </a></li>
                    <li><a href="news.html">新闻动态 </a></li>
                    <li class="hw-menu-active"><a href="about-us.html">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>*@

<header class=" header">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img src="~/Assert/WapImages/register/tel.png" style=" vertical-align:top; margin-top:10px;"  />
        </div>
        <img src="~/Assert/WapImages/register/tel.png" class="am-topbar-toggle" style=" vertical-align:top;margin-top:10px;" />
    </div>
</header>
<header class=" header2">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img src="~/Assert/WapImages/register/btn_home.png" width="32" style=" vertical-align:top; margin-top:10px;" />
        </div>
        <img src="~/Assert/WapImages/register/btn_menu.png" class="am-topbar-toggle" data-am-offcanvas="{target: '#doc-topbar-collapse'}" width="32" style=" vertical-align:top;margin-top:10px;" />
      
        @*<div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">


            <div class=" am-topbar-left am-form-inline am-topbar-right am-topbar" role="search">
                <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                    <li class="hw-menu-active"><a href="index.html">首页</a></li>
                    <li><a href="solutions.html">解决方案</a></li>
                    <li><a href="product-show.html">产品展示 </a></li>
                    <li><a href="customer-case.html">客户案例</a></li>
                    <li><a href="service-center.html">服务中心 </a></li>
                    <li><a href="news.html">新闻动态 </a></li>
                    <li><a href="about-us.html">关于我们</a></li>
                    <li><a href="recruit.html">招贤纳士 </a></li>
                </ul>
            </div>

        </div>*@
        <div id="doc-topbar-collapse" class="am-offcanvas" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip am-offcanvas-bar-overlay am-offcanvas-bar-active" style="width:57%;background: white;">
                <nav class="am-offcanvas-content">
                    <a href="index.html" rel="nofollow"><span class="logo"></span></a>
                    <div class="wap-nav"><i class="am-icon-home"></i> <a href="/Wap/Index" rel="nofollow">网站首页</a></div>
                    <div class="wap-nav"><i class="am-icon-medkit"></i> <a href="/Wap/Medical" rel="nofollow">医疗器械资质</a></div>
                    <div class="wap-nav"><i class="am-icon-deaf"></i> <a href="/Wap/FoodStuff" rel="nofollow">食品经营资质</a></div>
                    <div class="wap-nav"><i class="am-icon-object-ungroup"></i> <a href="/Wap/NetCulture" rel="nofollow">网络文化经营许可证</a></div>
                    <div class="wap-nav"><i class="am-icon-money"></i> <a href="/about.html" rel="nofollow">融资租赁资质</a></div>
                    <div class="wap-nav"><i class="am-icon-building-o"></i> <a href="/Wap/Build" rel="nofollow">建筑施工资质</a></div>
                    <div class="wap-nav"><i class="am-icon-user"></i> <a href="/contact.html" rel="nofollow">关于我们</a></div>
                </nav>
            </div>
        </div>
    </div>
</header>
<header class="m-header">
    <section data-am-sticky class="am-show-md-up m-header-back">
       

    </section>

</header>

    <section>


        <div class="wap-headerimg-div">

            <img src="~/Assert/WapImages/hospi/banner_bkg.jpg" />
        </div>
    </section>
<div class="am-container wap-box">
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">医疗器械注册流程</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>
    <section>
        <div>
            <h2>您需要具备以下条件</h2>
        </div>
        <ul class="part-5-words2-ul-center mbt-img">
            <li class="am-u-sm-3">
                <img src="~/Assert/WapImages/hospi/专业人员.png" />
            </li>
            <li class="am-u-sm-3">
                <img src="~/Assert/WapImages/hospi/办公地址.png" />
            </li>
            <li class="am-u-sm-3">
                <img src="~/Assert/WapImages/hospi/管理制度.png" />
            </li>
            <li class="am-u-sm-3">
                <img src="~/Assert/WapImages/hospi/专业能力.png" />
            </li>
            <div class="clear"></div>
        </ul>
        <ul class="part-5-words2-ul pa-txt-ul" style=" text-align: center;">
            <li class="am-u-sm-3">
                <span>医疗专业人员2名</span>
            </li>
            <li class="am-u-sm-3">
                <span>有办公地址</span>
            </li>
            <li class="am-u-sm-3">
                <span>健全的管理制度</span>
            </li>
            <li class="am-u-sm-3">
                <span>具备相应技术能力</span>
            </li>
            <div class="clear"></div>
        </ul>
        <div class="wap-center-btn">
            <button type="button" class="am-btn am-btn-warning am-radius">点击咨询</button>
        </div>
    </section>
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">办理流程</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>
    <section>
        <ul class="wap-progress ul-slid-ul" data-am-scrollspy="{animation:'slide-left', delay: 100}">
            <li data-am-scrollspy="{animation:'slide-left', delay: 44}" style="clear:both;">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/01.png" />
                </div>
                <h2 class="wap-progress-title-2">签署合同</h2>
            </li>
            <li data-am-scrollspy="{animation:'slide-left', delay: 144}" style="clear:both;">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/02.png" />
                </div>

                <h2 class="wap-progress-title-2">支付预付款</h2>
            </li>
            <li data-am-scrollspy="{animation:'slide-left', delay: 244}" style="clear:both;">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/03.png" />
                </div>

                <h2 class="wap-progress-title-2">公司查名</h2>
            </li>
            <li data-am-scrollspy="{animation:'slide-left', delay: 344}" style="clear:both;">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/04.png" />
                </div>

                <h2 class="wap-progress-title-2">准备材料</h2>
            </li>
            <li data-am-scrollspy="{animation:'slide-left', delay:444}" style="clear:both;">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/05.png" />
                </div>

                <h2 class="wap-progress-title-2">向当地药检局递交申请材料</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/06.png" />
                </div>

                <h2 class="wap-progress-title-2">通过药检局检查</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/07.png" />
                </div>

                <h2 class="wap-progress-title-2">获得《医疗器械经营许可证》</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/08.png" />
                </div>

                <h2 class="wap-progress-title-2">注册资金到位</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/09.png" />
                </div>

                <h2 class="wap-progress-title-2">获得营业执照</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/10.png" />
                </div>

                <h2 class="wap-progress-title-2">获得组织机构代码证</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/11.png" />
                </div>

                <h2 class="wap-progress-title-2">获得税务登记证</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/12.png" />
                </div>

                <h2 class="wap-progress-title-2">交付材料、支付余款</h2>
            </li>
            <li style="clear:both;" class="start-hide">
                <div class="wap-progress-img am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/13.png" />
                </div>

                <h2 class="wap-progress-title-2">结束</h2>
            </li>
            <li style="clear:both; text-align:center" class="show-hide">
                <div style="text-align:center">
                    <img src="~/Assert/WapImages/hospi/arrow.png" />
                </div>


            </li>
            <li style="clear:both; text-align:center; display:none;" class="hide-hide">
                <div style="text-align:center">
                    <img src="~/Assert/WapImages/hospi/arrowup.png" />
                </div>


            </li>
            <div class="clear"></div>
        </ul>
        <div class="wap-center-btn">
            <button type="button" class="am-btn am-btn-warning am-radius">立即注册公司</button>
        </div>
        
    </section>
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="margin:0;">
            <h1>医疗器械销售资质</h1>
        </div>
        <div style="background:#0B92A0;padding-top:1rem;">
            <div class="am-u-sm-2" style="padding: 0;    height: 7rem;">
                <img src="~/Assert/WapImages/hospi/1.png" style=" width: 6rem;" />
            </div>
            <div class="am-u-sm-10" style="margin-bottom:1rem;padding-right:0;">
                <img src="~/Assert/WapImages/hospi/4.png" class="am-u-sm-12" style="padding-right:0;    margin-bottom: 1rem;" />
                <div class="wap-medical-p" style=" padding-left: 3rem;">
                    <p>一类医疗器械销售资质可直接办理</p>
                    <p>二类医疗器械销售资质需先备案证明方可办理销售资质</p>
                    <p>三类医疗器械销售资质需先办理医疗器械许可证方可办理销售资质</p>
                </div>
            </div>
            <div class="wap-center-btn" style=" padding-bottom: 1rem;">
                <button type="button" class="am-btn  am-btn-default  am-radius" style="color:#0B92A0">办理材料咨询</button>
            </div>
        </div>
        
    </section>
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="margin:0;">
            <h1>客户真实案例</h1>
        </div>
        <div style="padding-top:1rem;">
            <div class="am-u-sm-4" style="padding: 0;        height: 11rem;">
                <img src="~/Assert/Images/hospi/kehu.jpg" class="am-u-sm-12"  style=" padding: 0;"/>
            </div>
            <div class="am-u-sm-8" style="margin-bottom:1rem;padding-right:0;">
                <span style="color:#7D7D7D">    上海浦东新区的张先生想办理一个三类医疗器械销售资质，但是没有实际注册地址，多方咨询后没有得到解决。后经过网络搜索找到XXXX公司，在XXX公司的提供指导下，整个过程XXX公司全程代办，一共花费时间1个月，顺利的获得地址并且办理好了医疗器械销售资质，目前已经正常营业。
</span>
            </div>
            <div>
                <div class="am-u-sm-2">
                    <img src="~/Assert/WapImages/hospi/mark.png" />
                </div>
              
                <span style="color:#7D7D7D">注意事项：医疗器械销售资质注册地址必须跟实际办公地址相符合</span>
            </div>
            <div class="wap-center-btn" style="    margin-top: 1rem;">
                <button type="button" class="am-btn  am-btn-warning am-radius">地址问题咨询</button>
            </div>
        </div>

    </section>

    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div" style="margin:0;">
            <h1>二类医疗器械备案流程</h1>
        </div>
        <div style=" background: #26A9E0; padding-top: 1rem; background-image: url('../../Assert/WapImages/hospi/2.png') ; background-repeat:no-repeat;background-position-y: bottom;    background-size: 36%;">
            <div class="am-u-sm-2" style="padding: 0;        height: 11rem;">
               
            </div>
            <div class="am-u-sm-10" style="margin-bottom:1rem;padding-right:0;">
                <img src="~/Assert/WapImages/hospi/3.png" class="am-u-sm-12" style="padding-right:0;    margin-bottom: 1rem;" />
                <div class="wap-medical-p" style=" padding-left: 3rem;">
                    <p>备案材料</p>
                    <p>二类医疗器械备案表</p>
                    <p>营业执照复印件</p>
                    <p>公司法人高管身份证信息</p>
                    <p>经营场所地理位置图</p>
                    <p>房产所有证</p>
                    <p>租赁合同复印件</p>
                    <p>经办人证明</p>
                </div>
            </div>
            <div class="wap-center-btn" style=" padding-bottom: 1rem;" >
                <button type="button" class="am-btn  am-btn-default  am-radius" style="color:#26A9E0">咨询详细材料</button>
            </div>
        </div>

    </section>
    <section>
        <div class="wap-title-color"></div>
        <div class="wap-title-div">
            <img src="~/Assert/WapImages/FoodStuff/titlemark_left.png" width="32" />
            <h1 style="    display: inline;">我们的实力</h1>
            <img src="~/Assert/WapImages/FoodStuff/titlemark_right.png" width="32" />
        </div>
    </section>
    <section>
        <ul class="part-5-words2-ul-center mbt-img wap-our zbg-img">
            <li class="am-u-sm-3">
                <img src="~/Assert/Images/register/shi/1.jpg" />
                <div class="hide"><img src="~/Assert/Images/register/shi/1.jpg"></div>
            </li>
            <li class="am-u-sm-3">
                <img src="~/Assert/Images/register/shi/2.jpg" />
                <div class="hide"><img src="~/Assert/Images/register/shi/2.jpg"></div>
            </li>
            <li class="am-u-sm-3">
                <img src="~/Assert/Images/register/shi/3.jpg" />
                <div class="hide"><img src="~/Assert/Images/register/shi/3.jpg"></div>
            </li>
            <li class="am-u-sm-3">
                <img src="~/Assert/Images/register/shi/4.jpg" />
                <div class="hide"><img src="~/Assert/Images/register/shi/4.jpg"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </section>
</div>

<div class="zbg" style=" display: none;"></div>

<div class="zhiz" style="display: none;">
    <div class="zhiz_img"></div>
    <img class="claose" src="~/Assert/WapImages/mke_close.png" />
</div>